<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="x" />
                <binding name="xx" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:3721/IFoo/x" binding="basicHttpBinding"
                bindingConfiguration="x" contract="ServiceReference1.IFoo"
                name="x" />
            <endpoint address="http://127.0.0.1:3721/IFoo/xx" binding="basicHttpBinding"
                bindingConfiguration="xx" contract="ServiceReference1.IBar"
                name="xx"  />
        </client>
    </system.serviceModel>
</configuration>