<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="artech.batchingHosting" 
             type="Artech.BatchingHosting.Configuration.BatchingHostingSettings, Artech.BatchingHosting"/>
  </configSections>
  <system.serviceModel>
    <behaviors>
    <serviceBehaviors>
      <behavior name="mybehavior">
        <serviceMetadata httpGetEnabled="true" policyVersion="Policy12"/>
      <serviceDebug includeExceptionDetailInFaults="False" />
      </behavior>
    </serviceBehaviors>
  </behaviors>
    <services>
      <service name="Artech.BatchingHosting.FooService" behaviorConfiguration="mybehavior">
        <endpoint address="" 
                  binding="ws2007HttpBinding"
                  contract="Artech.BatchingHosting.IFoo"/>
      <host>
        <baseAddresses>
          <add baseAddress="http://127.0.0.1:3721/IFoo"/>
        </baseAddresses>
      </host>
      </service>
      <service name="Artech.BatchingHosting.BarService" behaviorConfiguration="mybehavior">
        <endpoint address=""
                  binding="ws2007HttpBinding"
                  contract="Artech.BatchingHosting.IBar"/>
      <host>
        <baseAddresses>
          <add baseAddress="http://127.0.0.1:3721/IBar"/>
        </baseAddresses>
      </host>
      </service>
      <service name="Artech.BatchingHosting.BazService" behaviorConfiguration="mybehavior">
        <endpoint address=""
                  binding="ws2007HttpBinding"
                  contract="Artech.BatchingHosting.IBaz"/>
      <host>
        <baseAddresses>
          <add baseAddress="http://127.0.0.1:3721/IBaz"/>
        </baseAddresses>
      </host>
      </service>
    </services>
  </system.serviceModel>
  <artech.batchingHosting>
    <add type="Artech.BatchingHosting.FooService, Artech.BatchingHosting"/>
    <add type="Artech.BatchingHosting.BarService, Artech.BatchingHosting"/>
    <add type="Artech.BatchingHosting.BazService, Artech.BatchingHosting"/>
  </artech.batchingHosting>
</configuration>